# Feature Engineering

The goal of this notebook is to create and test the code that will be used in the processing stage of Sagemaker Pipeline.

In [1]:
# Todo: add this code in sagemaker processing code

import pandas as pd
import numpy as np
import os

In [2]:
# Todo: add this code in sagemaker processing code

BASE_DIR= "../../../"

DATA_FOLDER= os.path.join(BASE_DIR, "data/")
DAILY_WEATHER_FILE= os.path.join(DATA_FOLDER, "weather/ekoue/combined/divisions daily weather.csv")

CLEANED_DAILY_WEATHER_FILE= os.path.join(DATA_FOLDER, "weather/ekoue/cleaned/cleaned divisions daily weather.csv")

TRAIN_DAILY_WEATHER_FILE= os.path.join(DATA_FOLDER, "weather/ekoue/cleaned/sagemaker divisions daily weather -- train.csv")
VAL_DAILY_WEATHER_FILE= os.path.join(DATA_FOLDER, "weather/ekoue/cleaned/sagemaker divisions daily weather -- val.csv")
TEST_DAILY_WEATHER_FILE= os.path.join(DATA_FOLDER, "weather/ekoue/cleaned/sagemaker divisions daily weather -- test.csv")


DAILY_WEATHER_FILE, CLEANED_DAILY_WEATHER_FILE, TRAIN_DAILY_WEATHER_FILE, VAL_DAILY_WEATHER_FILE, TEST_DAILY_WEATHER_FILE

('../../../data/weather/ekoue/combined/divisions daily weather.csv',
 '../../../data/weather/ekoue/cleaned/cleaned divisions daily weather.csv',
 '../../../data/weather/ekoue/cleaned/sagemaker divisions daily weather -- train.csv',
 '../../../data/weather/ekoue/cleaned/sagemaker divisions daily weather -- val.csv',
 '../../../data/weather/ekoue/cleaned/sagemaker divisions daily weather -- test.csv')

In [3]:
# Todo: add this code in sagemaker processing code

weather_df = pd.read_csv(DAILY_WEATHER_FILE)
weather_df.head(3).T

,0,1,2
cloudcover,0.0,0.0,0.0
conditions,Clear,Clear,Clear
Date,2012-01-13 00:00:00,2012-01-13 00:00:00,2012-01-14 00:00:00
DayType,No rain,No rain,No rain
description,NaN,Clear conditions throughout the day.,NaN
dew,7.7,45.1,7.1
Division,Khulna,Rajshahi,Khulna
feelslike,14.8,56.6,14.4
feelslikemax,21.9,70.6,22.8
feelslikemin,7.8,43.5,7.3
humidity,66.3,66.6,65.2
moonphase,0.64,0.64,0.68
precip,0.0,0.0,0.0
precipprob,0.0,0.0,0.0
precipcover,0.0,0.0,0.0
preciptype,NaN,NaN,NaN
sealevelpressure,1015.7,1016.0,1014.6
severerisk,NaN,NaN,NaN
Season,NaN,NaN,NaN
snow,NaN,NaN,NaN
snowdepth,NaN,NaN,NaN
solarenergy,15.6,14.6,15.1
solarradiation,181.8,171.0,175.1
stations,NaN,"41907099999,remote,41895099999",NaN
temp,14.9,57.3,14.7
sunset,2012-01-13 17:35:55,2012-01-13 17:36:45,2012-01-14 17:36:37
sunrise,2012-01-13 06:44:43,2012-01-13 06:51:19,2012-01-14 06:44:46
tempmax,21.9,70.6,22.8
tempmin,9.1,47.2,8.6
uvindex,7.0,7.0,7.0
visibility,4.2,3.1,3.5
winddir,315.7,300.5,328.1
windgust,NaN,NaN,NaN
windspeed,16.2,11.9,14.4
Flood,False,False,False
Sunrise Hour,6,6,6
Sunrise Minute,44,51,44
Sunset Hour,17,17,17
Sunset Minute,35,36,36

In [4]:
weather_df.columns.to_list()

['cloudcover',
 'conditions',
 'Date',
 'DayType',
 'description',
 'dew',
 'Division',
 'feelslike',
 'feelslikemax',
 'feelslikemin',
 'humidity',
 'moonphase',
 'precip',
 'precipprob',
 'precipcover',
 'preciptype',
 'sealevelpressure',
 'severerisk',
 'Season',
 'snow',
 'snowdepth',
 'solarenergy',
 'solarradiation',
 'stations',
 'temp',
 'sunset',
 'sunrise',
 'tempmax',
 'tempmin',
 'uvindex',
 'visibility',
 'winddir',
 'windgust',
 'windspeed',
 'Flood',
 'Sunrise Hour',
 'Sunrise Minute',
 'Sunset Hour',
 'Sunset Minute']

In [5]:
# Todo: add this code in sagemaker processing code

# Columns to keep in the dataset (removing those that may induce target leakage )
wanted_columns = [
     'cloudcover',
     #'conditions',
     'Date',
     #'DayType',
#      'description',
     'dew',
     'Division',
     'feelslike',
#      'feelslikemax',
#      'feelslikemin',
     'humidity',
     'moonphase',
#      'precip',
#      'precipprob',
#      'precipcover',
#      'preciptype',
     'sealevelpressure',
#      'severerisk',
     'Season',
     'snow',
#      'snowdepth',
     'solarenergy',
     'solarradiation',
#      'stations',
     'temp',
     'sunset',
     'sunrise',
     'tempmax',
     'tempmin',
     'uvindex',
#      'visibility',
     'winddir',
#      'windgust',
     'windspeed',
     'Flood',
     'Sunrise Hour',
     'Sunrise Minute',
     'Sunset Hour',
     'Sunset Minute'
]

weather_df = weather_df[wanted_columns]
weather_df.head(3).T

,0,1,2
cloudcover,0.0,0.0,0.0
Date,2012-01-13 00:00:00,2012-01-13 00:00:00,2012-01-14 00:00:00
dew,7.7,45.1,7.1
Division,Khulna,Rajshahi,Khulna
feelslike,14.8,56.6,14.4
humidity,66.3,66.6,65.2
moonphase,0.64,0.64,0.68
sealevelpressure,1015.7,1016.0,1014.6
Season,NaN,NaN,NaN
snow,NaN,NaN,NaN
solarenergy,15.6,14.6,15.1
solarradiation,181.8,171.0,175.1
temp,14.9,57.3,14.7
sunset,2012-01-13 17:35:55,2012-01-13 17:36:45,2012-01-14 17:36:37
sunrise,2012-01-13 06:44:43,2012-01-13 06:51:19,2012-01-14 06:44:46
tempmax,21.9,70.6,22.8
tempmin,9.1,47.2,8.6
uvindex,7.0,7.0,7.0
winddir,315.7,300.5,328.1
windspeed,16.2,11.9,14.4
Flood,False,False,False
Sunrise Hour,6,6,6
Sunrise Minute,44,51,44
Sunset Hour,17,17,17
Sunset Minute,35,36,36

In [6]:
weather_df.shape

(30000, 25)

In [7]:
# Todo: add this code in sagemaker processing code

# Remove samples with null season (those are outside of our range of study anyway, which is Jan 2013 to Oct 2023)
weather_df.dropna(subset=["Season"], inplace=True)
weather_df.shape

(28822, 25)

In [8]:
weather_df.head(3).T

,45,46,47
cloudcover,0.0,0.0,0.0
Date,2013-01-01 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00
dew,50.9,13.6,53.0
Division,Sylhet,Chittagong,Sylhet
feelslike,60.4,18.3,62.9
humidity,72.2,77.7,72.2
moonphase,0.63,0.67,0.67
sealevelpressure,1013.1,1012.1,1012.8
Season,Winter,Winter,Winter
snow,NaN,NaN,NaN
solarenergy,14.8,16.0,15.2
solarradiation,171.6,186.0,176.4
temp,60.8,18.3,62.9
sunset,2013-01-01 17:14:45,2013-01-02 17:20:49,2013-01-02 17:15:25
sunrise,2013-01-01 06:37:27,2013-01-02 06:32:50,2013-01-02 06:37:43
tempmax,73.8,24.0,75.6
tempmin,47.4,11.9,50.8
uvindex,6.0,7.0,7.0
winddir,208.4,323.1,203.8
windspeed,6.0,18.4,7.2
Flood,False,False,False
Sunrise Hour,6,6,6
Sunrise Minute,37,32,37
Sunset Hour,17,17,17
Sunset Minute,14,20,15

In [9]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 28822 entries, 45 to 29999
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   cloudcover        28822 non-null  float64
 1   Date              28822 non-null  object
 2   dew               28822 non-null  float64
 3   Division          28822 non-null  object
 4   feelslike         28822 non-null  float64
 5   humidity          28822 non-null  float64
 6   moonphase         28822 non-null  float64
 7   sealevelpressure  26959 non-null  float64
 8   Season            28822 non-null  object
 9   snow              4595 non-null   float64
 10  solarenergy       28822 non-null  float64
 11  solarradiation    28822 non-null  float64
 12  temp              28822 non-null  float64
 13  sunset            28822 non-null  object
 14  sunrise           28822 non-null  object
 15  tempmax           28822 non-null  float64
 16  tempmin           28822 non-null  float64
 17  uvindex           28822 non-null  float64
 18  winddir           28822 non-null  float64
 19  windspeed         28822 non-null  float64
 20  Flood             28822 non-null  bool
 21  Sunrise Hour      28822 non-null  int64
 22  Sunrise Minute    28822 non-null  int64
 23  Sunset Hour       28822 non-null  int64
 24  Sunset Minute     28822 non-null  int64
dtypes: bool(1), float64(15), int64(4), object(5)
memory usage: 5.5+ MB

In [10]:
# Todo: add this code in sagemaker processing code

# Convert date columns to datetime type
weather_df["Date"] = pd.to_datetime(weather_df["Date"])
weather_df["sunset"] = pd.to_datetime(weather_df["sunset"])
weather_df["sunrise"] = pd.to_datetime(weather_df["sunrise"])

weather_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 28822 entries, 45 to 29999
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   cloudcover        28822 non-null  float64
 1   Date              28822 non-null  datetime64[ns]
 2   dew               28822 non-null  float64
 3   Division          28822 non-null  object
 4   feelslike         28822 non-null  float64
 5   humidity          28822 non-null  float64
 6   moonphase         28822 non-null  float64
 7   sealevelpressure  26959 non-null  float64
 8   Season            28822 non-null  object
 9   snow              4595 non-null   float64
 10  solarenergy       28822 non-null  float64
 11  solarradiation    28822 non-null  float64
 12  temp              28822 non-null  float64
 13  sunset            28822 non-null  datetime64[ns]
 14  sunrise           28822 non-null  datetime64[ns]
 15  tempmax           28822 non-null  float64
 16  tempmin           28822 non-null  float64
 17  uvindex           28822 non-null  float64
 18  winddir           28822 non-null  float64
 19  windspeed         28822 non-null  float64
 20  Flood             28822 non-null  bool
 21  Sunrise Hour      28822 non-null  int64
 22  Sunrise Minute    28822 non-null  int64
 23  Sunset Hour       28822 non-null  int64
 24  Sunset Minute     28822 non-null  int64
dtypes: bool(1), datetime64[ns](3), float64(15), int64(4), object(2)
memory usage: 5.5+ MB

In [11]:
weather_df.head(3).T

,45,46,47
cloudcover,0.0,0.0,0.0
Date,2013-01-01 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00
dew,50.9,13.6,53.0
Division,Sylhet,Chittagong,Sylhet
feelslike,60.4,18.3,62.9
humidity,72.2,77.7,72.2
moonphase,0.63,0.67,0.67
sealevelpressure,1013.1,1012.1,1012.8
Season,Winter,Winter,Winter
snow,NaN,NaN,NaN
solarenergy,14.8,16.0,15.2
solarradiation,171.6,186.0,176.4
temp,60.8,18.3,62.9
sunset,2013-01-01 17:14:45,2013-01-02 17:20:49,2013-01-02 17:15:25
sunrise,2013-01-01 06:37:27,2013-01-02 06:32:50,2013-01-02 06:37:43
tempmax,73.8,24.0,75.6
tempmin,47.4,11.9,50.8
uvindex,6.0,7.0,7.0
winddir,208.4,323.1,203.8
windspeed,6.0,18.4,7.2
Flood,False,False,False
Sunrise Hour,6,6,6
Sunrise Minute,37,32,37
Sunset Hour,17,17,17
Sunset Minute,14,20,15

In [12]:
# # Todo: add this code in sagemaker processing code

# weather_df["Date"] = weather_df["Date"].dt.date
# weather_df["sunset"] = weather_df["sunset"].dt.time
# weather_df["sunrise"] = weather_df["sunrise"].dt.time

# weather_df.head(3).T

In [13]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 28822 entries, 45 to 29999
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   cloudcover        28822 non-null  float64
 1   Date              28822 non-null  datetime64[ns]
 2   dew               28822 non-null  float64
 3   Division          28822 non-null  object
 4   feelslike         28822 non-null  float64
 5   humidity          28822 non-null  float64
 6   moonphase         28822 non-null  float64
 7   sealevelpressure  26959 non-null  float64
 8   Season            28822 non-null  object
 9   snow              4595 non-null   float64
 10  solarenergy       28822 non-null  float64
 11  solarradiation    28822 non-null  float64
 12  temp              28822 non-null  float64
 13  sunset            28822 non-null  datetime64[ns]
 14  sunrise           28822 non-null  datetime64[ns]
 15  tempmax           28822 non-null  float64
 16  tempmin           28822 non-null  float64
 17  uvindex           28822 non-null  float64
 18  winddir           28822 non-null  float64
 19  windspeed         28822 non-null  float64
 20  Flood             28822 non-null  bool
 21  Sunrise Hour      28822 non-null  int64
 22  Sunrise Minute    28822 non-null  int64
 23  Sunset Hour       28822 non-null  int64
 24  Sunset Minute     28822 non-null  int64
dtypes: bool(1), datetime64[ns](3), float64(15), int64(4), object(2)
memory usage: 5.5+ MB

In [14]:
# Todo: add this code in sagemaker processing code

print(weather_df.shape)
weather_df.dropna(inplace=True)
weather_df.shape

(28822, 25)

(4595, 25)

In [15]:
# Todo: add this code in sagemaker processing code

# dummify categorical data
weather_df = pd.get_dummies(weather_df, columns=["Division","Season"], prefix=["Division","Season"])
weather_df.head(3).T

,1223,1224,1225
cloudcover,0.0,0.0,0.0
Date,2022-01-16 00:00:00,2022-01-16 00:00:00,2022-01-17 00:00:00
dew,5.5,6.7,5.4
feelslike,19.7,19.7,18.3
humidity,41.6,44.8,43.9
moonphase,0.44,0.44,0.48
sealevelpressure,1017.0,1016.6,1017.5
snow,0.0,0.0,0.0
solarenergy,17.5,17.4,17.5
solarradiation,201.8,201.9,202.9
temp,19.7,19.7,18.3
sunset,2022-01-16 17:38:27,2022-01-16 17:35:25,2022-01-17 17:39:10
sunrise,2022-01-16 06:44:48,2022-01-16 06:41:14,2022-01-17 06:44:46
tempmax,25.5,25.7,25.3
tempmin,15.4,15.7,12.1
uvindex,8.0,8.0,8.0
winddir,339.0,336.0,340.1
windspeed,19.1,18.0,13.7
Flood,False,False,False
Sunrise Hour,6,6,6
Sunrise Minute,44,41,44
Sunset Hour,17,17,17
Sunset Minute,38,35,39
Division_Barisal,False,True,False
Division_Chittagong,False,False,False
Division_Dhaka,False,False,False
Division_Khulna,True,False,True
Division_Mymensingh,False,False,False
Division_Naryanganj,False,False,False
Division_Rajshahi,False,False,False
Division_Sylhet,False,False,False
Season_Autumn,False,False,False
Season_Late Autumn,False,False,False
Season_Monsoon,False,False,False
Season_Spring,False,False,False
Season_Summer,False,False,False
Season_Winter,True,True,True

In [16]:
# Todo: add this code in sagemaker processing code

# Engineering new columns
weather_df["DayOfMonth"] = weather_df["Date"].dt.day
weather_df["Month"] = weather_df["Date"].dt.month
weather_df["Year"] = weather_df["Date"].dt.year

# get elapsed time between sunrise and sunset, in minutes
weather_df["sunrise_sunrise_mindiff"] = ( weather_df["sunset"] - weather_df["sunrise"]).dt.total_seconds()/60

weather_df.head(3).T

,1223,1224,1225
cloudcover,0.0,0.0,0.0
Date,2022-01-16 00:00:00,2022-01-16 00:00:00,2022-01-17 00:00:00
dew,5.5,6.7,5.4
feelslike,19.7,19.7,18.3
humidity,41.6,44.8,43.9
moonphase,0.44,0.44,0.48
sealevelpressure,1017.0,1016.6,1017.5
snow,0.0,0.0,0.0
solarenergy,17.5,17.4,17.5
solarradiation,201.8,201.9,202.9
temp,19.7,19.7,18.3
sunset,2022-01-16 17:38:27,2022-01-16 17:35:25,2022-01-17 17:39:10
sunrise,2022-01-16 06:44:48,2022-01-16 06:41:14,2022-01-17 06:44:46
tempmax,25.5,25.7,25.3
tempmin,15.4,15.7,12.1
uvindex,8.0,8.0,8.0
winddir,339.0,336.0,340.1
windspeed,19.1,18.0,13.7
Flood,False,False,False
Sunrise Hour,6,6,6
Sunrise Minute,44,41,44
Sunset Hour,17,17,17
Sunset Minute,38,35,39
Division_Barisal,False,True,False
Division_Chittagong,False,False,False
Division_Dhaka,False,False,False
Division_Khulna,True,False,True
Division_Mymensingh,False,False,False
Division_Naryanganj,False,False,False
Division_Rajshahi,False,False,False
Division_Sylhet,False,False,False
Season_Autumn,False,False,False
Season_Late Autumn,False,False,False
Season_Monsoon,False,False,False
Season_Spring,False,False,False
Season_Summer,False,False,False
Season_Winter,True,True,True
DayOfMonth,16,16,17
Month,1,1,1
Year,2022,2022,2022
sunrise_sunrise_mindiff,653.65,654.183333,654.4

In [17]:
# Todo: add this code in sagemaker processing code

# Drop irrelevant columns to the project 
columns_to_drop = [
    "snow", # has too many null values
    "Date", # no more needed, as features were already engineered based on it
    "sunset", # no more needed, as features were already engineered based on it
    "sunrise", # no more needed, as features were already engineered based on it
]
weather_df.drop(columns_to_drop,axis=1,inplace=True)

The following cells will put the label as the first column in the df

In [18]:
# Todo: add this code in sagemaker processing code
y = weather_df.pop("Flood")
y.head()

1223    False
1224    False
1225    False
1226    False
1227    False
Name: Flood, dtype: bool

In [19]:
# Todo: add this code in sagemaker processing code

weather_df.insert(0, "Flood", y)
weather_df.head(3).T

,1223,1224,1225
Flood,False,False,False
cloudcover,0.0,0.0,0.0
Date,2022-01-16 00:00:00,2022-01-16 00:00:00,2022-01-17 00:00:00
dew,5.5,6.7,5.4
feelslike,19.7,19.7,18.3
humidity,41.6,44.8,43.9
moonphase,0.44,0.44,0.48
sealevelpressure,1017.0,1016.6,1017.5
snow,0.0,0.0,0.0
solarenergy,17.5,17.4,17.5
solarradiation,201.8,201.9,202.9
temp,19.7,19.7,18.3
sunset,2022-01-16 17:38:27,2022-01-16 17:35:25,2022-01-17 17:39:10
sunrise,2022-01-16 06:44:48,2022-01-16 06:41:14,2022-01-17 06:44:46
tempmax,25.5,25.7,25.3
tempmin,15.4,15.7,12.1
uvindex,8.0,8.0,8.0
winddir,339.0,336.0,340.1
windspeed,19.1,18.0,13.7
Sunrise Hour,6,6,6
Sunrise Minute,44,41,44
Sunset Hour,17,17,17
Sunset Minute,38,35,39
Division_Barisal,False,True,False
Division_Chittagong,False,False,False
Division_Dhaka,False,False,False
Division_Khulna,True,False,True
Division_Mymensingh,False,False,False
Division_Naryanganj,False,False,False
Division_Rajshahi,False,False,False
Division_Sylhet,False,False,False
Season_Autumn,False,False,False
Season_Late Autumn,False,False,False
Season_Monsoon,False,False,False
Season_Spring,False,False,False
Season_Summer,False,False,False
Season_Winter,True,True,True
DayOfMonth,16,16,17
Month,1,1,1
Year,2022,2022,2022
sunrise_sunrise_mindiff,653.65,654.183333,654.4

In [20]:
weather_df["Flood"].value_counts()

Flood
False    3607
True      988
Name: count, dtype: int64

In [21]:
# Todo: add this code in sagemaker processing code

# Replace True and False by 1 and 0
weather_df["Flood"] = weather_df["Flood"].apply(lambda x: 1 if x==True else 0)
weather_df["Flood"].value_counts()

Flood
0    3607
1     988
Name: count, dtype: int64

In [22]:
# Todo: add this code in sagemaker processing code

# shuffling dataframe content
weather_df = weather_df.sample(frac = 1, random_state=51294).reset_index(drop=True)

In [23]:
weather_df.shape

(4595, 41)

In [24]:
# Todo: add this code in sagemaker processing code

# Compute split lenghts
train_len = int(weather_df.shape[0] * .7)
val_len = int(weather_df.shape[0] * .15)
test_len = weather_df.shape[0] - (train_len + val_len)

train_len, val_len, test_len, train_len+val_len+test_len==weather_df.shape[0]

(3216, 689, 690, True)

In [25]:
# Todo: add this code in sagemaker processing code

# Split datasets in train, val, test
train_df = weather_df.loc[:train_len-1, :]
test_df = weather_df.loc[train_len: train_len+val_len-1, :]
val_df = weather_df.loc[train_len+val_len:, :]

train_df.shape, test_df.shape, val_df.shape, train_df.shape[0]+test_df.shape[0]+ val_df.shape[0] == weather_df.shape[0]

((3216, 41), (689, 41), (690, 41), True)

In [26]:
train_df.head(3)

,Flood,cloudcover,Date,dew,feelslike,humidity,moonphase,sealevelpressure,snow,solarenergy,...,Season_Autumn,Season_Late Autumn,Season_Monsoon,Season_Spring,Season_Summer,Season_Winter,DayOfMonth,Month,Year,sunrise_sunrise_mindiff
0,0,11.5,2022-11-18,14.9,22.3,65.8,0.82,1012.4,0.0,18.7,...,False,True,False,False,False,False,18,11,2022,660.650000
1,0,0.0,2023-02-14,-1.7,19.1,25.1,0.79,1013.2,0.0,21.2,...,False,False,False,False,False,True,14,2,2023,678.333333
2,1,52.2,2023-04-22,18.3,31.8,52.4,0.07,1004.0,0.0,26.4,...,False,False,False,False,True,False,22,4,2023,768.966667

In [27]:
# Check label distribution
train_df["Flood"].value_counts()

Flood
0    2525
1     691
Name: count, dtype: int64

In [28]:
test_df.head(3)

,Flood,cloudcover,Date,dew,feelslike,humidity,moonphase,sealevelpressure,snow,solarenergy,...,Season_Autumn,Season_Late Autumn,Season_Monsoon,Season_Spring,Season_Summer,Season_Winter,DayOfMonth,Month,Year,sunrise_sunrise_mindiff
3216,0,0.0,2023-01-11,7.1,18.9,50.6,0.64,1014.0,0.0,16.9,...,False,False,False,False,False,True,11,1,2023,642.866667
3217,0,58.6,2022-08-21,25.0,34.6,77.8,0.80,1002.0,0.0,21.0,...,True,False,False,False,False,False,21,8,2022,768.583333
3218,0,82.7,2023-09-28,25.7,37.2,77.4,0.46,1004.3,0.0,22.2,...,True,False,False,False,False,False,28,9,2023,720.733333

In [29]:
# Check label distribution
test_df["Flood"].value_counts()

Flood
0    535
1    154
Name: count, dtype: int64

In [30]:
val_df.head(3)

,Flood,cloudcover,Date,dew,feelslike,humidity,moonphase,sealevelpressure,snow,solarenergy,...,Season_Autumn,Season_Late Autumn,Season_Monsoon,Season_Spring,Season_Summer,Season_Winter,DayOfMonth,Month,Year,sunrise_sunrise_mindiff
3905,0,82.1,2023-07-21,78.2,100.3,75.2,0.12,1002.3,0.0,22.7,...,False,False,True,False,False,False,21,7,2023,806.016667
3906,0,31.1,2022-02-10,11.0,21.5,52.7,0.29,1013.7,0.0,19.1,...,False,False,False,False,False,True,10,2,2022,678.400000
3907,0,16.7,2022-10-31,24.2,32.9,77.4,0.21,1010.8,0.0,20.0,...,False,True,False,False,False,False,31,10,2022,680.050000

In [31]:
# Check label distribution
val_df["Flood"].value_counts()

Flood
0    547
1    143
Name: count, dtype: int64

In [32]:
CLEANED_DAILY_WEATHER_FILE

'../../../data/weather/ekoue/cleaned/cleaned divisions daily weather.csv'

In [33]:
# Save the cleaned dataset to the disk
weather_df.to_csv(CLEANED_DAILY_WEATHER_FILE, index=False)

# making sure save was succesful
saved_weather_df = pd.read_csv(CLEANED_DAILY_WEATHER_FILE)
saved_weather_df.head(3)

,Flood,cloudcover,Date,dew,feelslike,humidity,moonphase,sealevelpressure,snow,solarenergy,...,Season_Autumn,Season_Late Autumn,Season_Monsoon,Season_Spring,Season_Summer,Season_Winter,DayOfMonth,Month,Year,sunrise_sunrise_mindiff
0,0,11.5,2022-11-18,14.9,22.3,65.8,0.82,1012.4,0.0,18.7,...,False,True,False,False,False,False,18,11,2022,660.650000
1,0,0.0,2023-02-14,-1.7,19.1,25.1,0.79,1013.2,0.0,21.2,...,False,False,False,False,False,True,14,2,2023,678.333333
2,1,52.2,2023-04-22,18.3,31.8,52.4,0.07,1004.0,0.0,26.4,...,False,False,False,False,True,False,22,4,2023,768.966667

In [34]:
 saved_weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4595 entries, 0 to 4594
Data columns (total 41 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Flood                    4595 non-null   int64
 1   cloudcover               4595 non-null   float64
 2   Date                     4595 non-null   object
 3   dew                      4595 non-null   float64
 4   feelslike                4595 non-null   float64
 5   humidity                 4595 non-null   float64
 6   moonphase                4595 non-null   float64
 7   sealevelpressure         4595 non-null   float64
 8   snow                     4595 non-null   float64
 9   solarenergy              4595 non-null   float64
 10  solarradiation           4595 non-null   float64
 11  temp                     4595 non-null   float64
 12  sunset                   4595 non-null   object
 13  sunrise                  4595 non-null   object
 14  tempmax                  4595 non-null   float64
 15  tempmin                  4595 non-null   float64
 16  uvindex                  4595 non-null   float64
 17  winddir                  4595 non-null   float64
 18  windspeed                4595 non-null   float64
 19  Sunrise Hour             4595 non-null   int64
 20  Sunrise Minute           4595 non-null   int64
 21  Sunset Hour              4595 non-null   int64
 22  Sunset Minute            4595 non-null   int64
 23  Division_Barisal         4595 non-null   bool
 24  Division_Chittagong      4595 non-null   bool
 25  Division_Dhaka           4595 non-null   bool
 26  Division_Khulna          4595 non-null   bool
 27  Division_Mymensingh      4595 non-null   bool
 28  Division_Naryanganj      4595 non-null   bool
 29  Division_Rajshahi        4595 non-null   bool
 30  Division_Sylhet          4595 non-null   bool
 31  Season_Autumn            4595 non-null   bool
 32  Season_Late Autumn       4595 non-null   bool
 33  Season_Monsoon           4595 non-null   bool
 34  Season_Spring            4595 non-null   bool
 35  Season_Summer            4595 non-null   bool
 36  Season_Winter            4595 non-null   bool
 37  DayOfMonth               4595 non-null   int64
 38  Month                    4595 non-null   int64
 39  Year                     4595 non-null   int64
 40  sunrise_sunrise_mindiff  4595 non-null   float64
dtypes: bool(14), float64(16), int64(8), object(3)
memory usage: 1.0+ MB

In [35]:
# Check label distribution
weather_df["Flood"].value_counts()

Flood
0    3607
1     988
Name: count, dtype: int64

In [36]:
TRAIN_DAILY_WEATHER_FILE, VAL_DAILY_WEATHER_FILE, TEST_DAILY_WEATHER_FILE

('../../../data/weather/ekoue/cleaned/sagemaker divisions daily weather -- train.csv',
 '../../../data/weather/ekoue/cleaned/sagemaker divisions daily weather -- val.csv',
 '../../../data/weather/ekoue/cleaned/sagemaker divisions daily weather -- test.csv')

In [37]:
# Todo: add this code in sagemaker processing code

train_df.to_csv(TRAIN_DAILY_WEATHER_FILE, index=False, header=False)

# making sure save was succesful
saved_train_df = pd.read_csv(TRAIN_DAILY_WEATHER_FILE, header=None)
saved_train_df.head(3)

,0,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,40
0,0,11.5,2022-11-18,14.9,22.3,65.8,0.82,1012.4,0.0,18.7,...,False,True,False,False,False,False,18,11,2022,660.650000
1,0,0.0,2023-02-14,-1.7,19.1,25.1,0.79,1013.2,0.0,21.2,...,False,False,False,False,False,True,14,2,2023,678.333333
2,1,52.2,2023-04-22,18.3,31.8,52.4,0.07,1004.0,0.0,26.4,...,False,False,False,False,True,False,22,4,2023,768.966667

In [38]:
# Todo: add this code in sagemaker processing code

val_df.to_csv(VAL_DAILY_WEATHER_FILE, index=False, header=False)

# making sure save was succesful
saved_val_df = pd.read_csv(VAL_DAILY_WEATHER_FILE, header=None)
saved_val_df.head(3)

,0,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,40
0,0,82.1,2023-07-21,78.2,100.3,75.2,0.12,1002.3,0.0,22.7,...,False,False,True,False,False,False,21,7,2023,806.016667
1,0,31.1,2022-02-10,11.0,21.5,52.7,0.29,1013.7,0.0,19.1,...,False,False,False,False,False,True,10,2,2022,678.400000
2,0,16.7,2022-10-31,24.2,32.9,77.4,0.21,1010.8,0.0,20.0,...,False,True,False,False,False,False,31,10,2022,680.050000

In [39]:
# Todo: add this code in sagemaker processing code

test_df.to_csv(TEST_DAILY_WEATHER_FILE, index=False, header=False)

# making sure save was succesful
saved_test_df = pd.read_csv(TEST_DAILY_WEATHER_FILE, header=None)
saved_test_df.head(3)

,0,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,40
0,0,0.0,2023-01-11,7.1,18.9,50.6,0.64,1014.0,0.0,16.9,...,False,False,False,False,False,True,11,1,2023,642.866667
1,0,58.6,2022-08-21,25.0,34.6,77.8,0.80,1002.0,0.0,21.0,...,True,False,False,False,False,False,21,8,2022,768.583333
2,0,82.7,2023-09-28,25.7,37.2,77.4,0.46,1004.3,0.0,22.2,...,True,False,False,False,False,False,28,9,2023,720.733333

**Checking label distribution in each split**

In [40]:
train_df.iloc[:,0].value_counts()

Flood
0    2525
1     691
Name: count, dtype: int64

In [41]:
val_df.iloc[:,0].value_counts()

Flood
0    547
1    143
Name: count, dtype: int64

In [42]:
test_df.iloc[:,0].value_counts()

Flood
0    535
1    154
Name: count, dtype: int64